<h1 class="page-title mt-5 mb-4 font-weight-normal text-center">Get info about a Country</h1>
<form class="text-center mx-auto" style="max-width: 40rem; width: 90%">
	<div class="form-group">
   	<input type="text" class="form-control form-control-lg text-center" placeholder="Search Here..." id="searchInput">
	</div>
	<button class="btn btn-lg btn-primary" id="searchBtn" type="submit">Search</button>
</form>
<div class="my-5">
	<div class="accordion mx-auto" style="max-width: 40rem; width: 90%" id="countriesAccordian">
		<div class="card">
			<div class="card-header bg-transparent" id="headingOne">
				<h2 class="mb-0">
					<button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				   	Collapsible Group Item #1
					</button>
				</h2>
			</div>

			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#countriesAccordian">
				<div class="card-body">
				  <div class="d-flex py-1">
				  		<p class="m-0 font-weight-bold" style="width: 6.2rem">Name:</p>
				  		<p class="m-0">India</p>
				  </div>
				  <div class="d-flex py-1">
				  		<p class="m-0 font-weight-bold" style="width: 6.2rem">Capital:</p>
				  		<p class="m-0">Delhi</p>
				  </div>
				  <div class="d-flex py-1">
				  		<p class="m-0 font-weight-bold" style="width: 6.2rem">Region:</p>
				  		<p class="m-0">Asia</p>
				  </div>
				  <div class="d-flex py-1">
				  		<p class="m-0 font-weight-bold" style="width: 6.2rem">Subregion:</p>
				  		<p class="m-0">Southern-Asia</p>
				  </div>
				  <div class="d-flex py-1">
				  		<p class="m-0 font-weight-bold" style="width: 6.2rem">Population:</p>
				  		<p class="m-0">298734972</p>
				  </div>
				  <div class="d-flex py-1">
				  		<p class="m-0 font-weight-bold" style="width: 6.2rem">Languages:</p>
				  		<p class="m-0">Hindi, English</p>
				  </div>
				  <div class="d-flex py-1">
				  		<p class="m-0 font-weight-bold" style="width: 6.2rem">Area:</p>
				  		<p class="m-0">1837487</p>
				  </div>
				  <div class="d-flex py-1">
				  		<p class="m-0 font-weight-bold" style="width: 6.2rem">Flag:</p>
				  		<img src="https://restcountries.eu/data/afg.svg" height="20">
				  </div>
				</div>
			</div>
	  </div>
	</div>
</div>