<h1 class="page-title mt-5 mb-4 font-weight-normal text-center">Get info about a Country</h1>
<form class="text-center mx-auto" style="max-width: 40rem; width: 90%">
	<div class="form-group">
   	<input type="text" class="form-control form-control-lg text-center" placeholder="Search Here..." id="searchInput">
	</div>
	<button class="btn btn-lg btn-primary" id="searchBtn" type="submit">Search</button>
</form>
<div class="my-5">
	<div class="accordion mx-auto" style="max-width: 40rem; width: 90%" id="countriesAccordian">
		
	</div>
</div>